﻿@{
    ViewData["Title"] = "درباره من";
}

@section SEO
{
    <meta name="ketwords" content="سایت شخصی بنیامین چوپانی, طراحی سایت, طراحی نرم افزار,
     برنامه نویس, بک اند دولوپر, فرانت اند دولوپر, توسعه دهنده سایت">
    <meta name="description" content="صفحه رسمی بنیامین چوپانی" />
}


<!--=============== ABOUT SECTIN DESIGN ===============-->
<section class="about" id="about">
    <div class="about-img">
        <img src="~/images/about-img.png" />
    </div>

    <div class="about-content">
        <h2 class="heading">درباره <span>من</span></h2>
        <h3>برنامه نویس!</h3>

        <p>
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
            استفاده از طراحان گرافیک است،
            <br />
            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و
            برای شرایط فعلی تکنولوژی
            <br />
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
            استفاده از طراحان گرافیک است،
            <br />
            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و
            برای شرایط فعلی تکنولوژی
        </p>

    </div>
</section>