@model Contact
<!--=============== CONTACT SECTIN DESIGN ===============-->
<section class="contact" id="contact">

    <h2 class="heading">با من <span>تماس بگیر!</span></h2>

    @*<table>
        @foreach (var contact in Model)
                {
                <tr class="">
                    <td class="firstTd">ایمیل : </td>
                    <td class="secondTd"><span> @contact.Email</span></td>
                    </tr>
                <tr>
                    <td class="firstTd">شماره تماس : </td>
                    <td class="secondTd"><span> @contact.Phone </span></td>
                    </tr>
                <tr>
                    <td class="firstTd">پیج اینستاگرام : </td>
                    <td class="secondTd">
                        <span>
                            <a href="https://www.instagram.com/benyamin_chupani"></a>
                        </span>
                    </td>
                </tr>
        }
        </table>*@

    <form action="#">
        <div class="input-box">
            <input type="text" id="#name" asp-for="Name" placeholder="اسم کامل" />
            <span asp-validation-for="Name" for="name" class="text-danger" style="font-size: 20px"></span>
            <input type="email" id="#email" asp-for="Email" placeholder="آدرس ایمیل" />
            <span asp-validation-for="Email" for="email" class="text-danger" style="font-size: 20px"></span>

        </div>

        <div class="input-box">
            <input type="number" asp-for="Phone" placeholder="شماره تماس" />
            <span asp-validation-for="Phone" class="text-danger" style="font-size: 20px"></span>
            <input type="text" asp-for="Subtitle" placeholder="موضوع ایمیل" />
        </div>
        <textarea asp-for="Message" cols="30" rows="10" placeholder="پیام شما"></textarea>
        <input type="submit" value="ارسال پیام" class="btn" />
    </form>
</section>