@model IEnumerable<MyPortfolio.Models.Portfolio>
<!--=============== HEADER DESIGN ===============-->
<header class="header">
    <a href="#" class="logo">نمونه کار ها</a>

    <i class="bx bx-menu" id="menu-icon"></i>

    <nav class="navbar">
        <a href="#home" class="active">خانه</a>
        <a href="#about">درباره من</a>
        <a href="#services">خدمات</a>
        <a href="#portfolio">نمونه کار ها</a>
        <a href="#contact">تماس با من</a>
    </nav>
</header>