@model IEnumerable<MyPortfolio.Models.Portfolio>


<!--=============== HOME SECTIN DESIGN ===============-->
<section class="home" id="home">
    <div class="home-content">
        <h3>سلام خوش آمدید، من</h3>
        <h1>بنیامین چوپانی</h1>
        <h3>هستم و <span class="multiple-text"> </span> انجام میدم.</h3>
        <p>
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
            استفاده از طراحان گرافیک است،
            <br />
            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و
            برای شرایط فعلی تکنولوژی
        </p>

        <div class="social-media">
            <a href="https://www.instagram.com/benyamin_chupani/"><i class="bx bxl-instagram"></i></a>
            <a href="#"><i class="bx bxl-whatsapp"></i></a>
            <a href="https://web.telegram.org/a/"><i class="bx bxl-telegram"></i></a>
            <a href="#"><i class="bx bxl-youtube"></i></a>
            <a href="#"><i class="bx bxl-linkedin-square"></i></a>
        </div>
        <a href="#" class="btn">دانلود رزومه</a>
    </div>
    <div class="home-image">
        <img src="~/images/Home-img.png" />
    </div>
</section>