@model IEnumerable<MyPortfolio.Models.Portfolio>
<!--=============== SERVICES SECTIN DESIGN ===============-->
<secton class="services" id="services">
    <h2 class="heading"><span>خدمات </span>من</h2>
    <div class="services-container">
        <div class="services-box">
            <i class="bx bx-code-alt"></i>
            <h3>توسعه دهنده وب</h3>

            <p>
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                استفاده از طراحان گرافیک است،
                <br />
                چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است،
                و برای شرایط فعلی تکنولوژی
                <br />
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                استفاده از طراحان گرافیک است،
            </p>

            <a href="#" class="btn">بیشتر بخوانید</a>
        </div>

        <div class="services-box">
            <i class="bx bxs-paint"></i>
            <h3>طراح گرافیک</h3>

            <p>
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                استفاده از طراحان گرافیک است،
                <br />
                چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است،
                و برای شرایط فعلی تکنولوژی
                <br />
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                استفاده از طراحان گرافیک است،
            </p>

            <a href="#" class="btn">بیشتر بخوانید</a>
        </div>

        <div class="services-box">
            <i class="bx bx-bar-chart-alt"></i>
            <h3>دیجیتال مارکتینگ</h3>

            <p>
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                استفاده از طراحان گرافیک است،
                <br />
                چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است،
                و برای شرایط فعلی تکنولوژی
                <br />
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                استفاده از طراحان گرافیک است،
            </p>

            <a href="#" class="btn">بیشتر بخوانید</a>
        </div>
    </div>
</secton>