<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    @RenderSection("SEO", required: true)

    <!--=============== BOXICONS CSS ===============-->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

    <!--=============== MAIN CSS ===============-->
    <link href="~/css/style.css" rel="stylesheet" />

</head>
<body>
    <!--=============== HEADER DESIGN ===============-->
    <partial name="Header" />

    <!--=============== RenderBody ===============-->

    @RenderBody()

    <!--=============== FOOTER DESIGN ===============-->
    <partial name="Footer" />

<!--=============== SCROLLREVEAL JS ===============-->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!--=============== TYPED JS ===============-->
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

    <!--=============== MAIN JS ===============-->
    <script src="~/js/main.js"></script>

</body>
</html>
