<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    @RenderSection("SEO", required: true)

    <!--=============== BOXICONS CSS ===============-->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

    <!--=============== MAIN CSS ===============-->
    <link href="~/css/style.css" rel="stylesheet" />

</head>
<body>
    <!--=============== HEADER DESIGN ===============-->
    <header class="header">
        <a href="#" class="logo">نمونه کار ها</a>

        <i class="bx bx-menu" id="menu-icon"></i>

        <nav class="navbar">
            <a href="index/#home" class="active">خانه</a>
            <a href="index/#about">درباره من</a>
            <a href="index/#services">خدمات</a>
            <a href="index/#portfolio">نمونه کار ها</a>
            <a href="index/#contact">تماس با من</a>
        </nav>
    </header>

    @RenderBody()

    <!--=============== FOOTER DESIGN ===============-->
    <footer class="footer">
        <div class="footer-text">
            <p>
                طراحی و توسعه این سایت توسط بنیامین چوپانی انجام گرفته است.
                کلیه حقوق مادی و معنوی این سایت متعلق به بنیامین چوپانی می باشد.
            </p>
        </div>

        <div class="footer-iconTop">
            <a href="#home"><i class="bx bx-up-arrow-alt"></i></a>
        </div>
    </footer>

    <!--=============== SCROLLREVEAL JS ===============-->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!--=============== TYPED JS ===============-->
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

    <!--=============== MAIN JS ===============-->
    <script src="~/js/main.js"></script>

</body>
</html>
