
<!--=============== HEADER DESIGN ===============-->
<header class="header">
    <a href="#" class="logo">نمونه کار ها</a>

    <i class="bx bx-menu" id="menu-icon"></i>

    <nav class="navbar">
        <a href="index/#home" class="active">خانه</a>
        <a href="index/#about">درباره من</a>
        <a href="index/#services">خدمات</a>
        <a href="index/#portfolio">نمونه کار ها</a>
        <a href="index/#contact">تماس با من</a>
    </nav>
</header>